/*!
 * Tile CSS
 * Tile  layout library
 * http://www.celeronz.com
 * by Celeronz
 */
body{
	background-image: url(http://source.timekey.top/first_bg.jpg);
	font-family: "microsoft yahei"
}
/*首页*/
.img-list img{width: 100%; }
.img-span{position: relative;background-color: #e7e7e7; line-height: 32px; padding-left: 10px; border-radius: 5%; color: #777;}
.img-span .user{}
.img-span .like{position: absolute; right: 110px;}
.img-span .time{position: absolute; right: 5px;}
.list-view{margin-top: 10px;}

